In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split

:

### Load data from dataset

In [34]:
houseData = pd.read_csv("C:/Users/hp/Downloads/data.csv")

:

In [35]:
# check the data is read perfectly or not
houseData

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

### View Data

In [36]:
# structure of the data
houseData.tail()
# data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4595,2014-07-09 00:00:00,308166.666667,3,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,534333.333333,3,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,416904.166667,3,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,203400.000000,4,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,220600.000000,3,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [37]:
 #Display information about the dataset like columns, data types, and missing values
houseData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   int64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(3), int64(10), object(5)
memory usage: 647.0+ KB

In [38]:
#  Descriptive statistics 
houseData.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [39]:
# number of columns of the data
houseData.columns, houseData.columns.size

(Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
        'floors', 'waterfront', 'view', 'condition', 'sqft_above',
        'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
        'statezip', 'country'],
       dtype='object'),
 18)

### Handling Null Values

In [40]:
houseData.isnull().sum()
# Output: no null data found

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

### Handling Duplicated Values

In [41]:
houseData.duplicated().sum()
# Output: no duplication found

0

In [42]:
houseData.shape

(4600, 18)

In [43]:
#converting the text value to numerical value
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

houseData['street'] = encoder.fit_transform(houseData['street'])
houseData['city'] = encoder.fit_transform(houseData['city'])
houseData['statezip'] = encoder.fit_transform(houseData['statezip'])
houseData['country'] = encoder.fit_transform(houseData['country'])

### Feature extraction

In [44]:
houseData['date'] = pd.to_datetime(houseData['date'])
houseData['date'] = houseData['date'].dt.strftime('%Y%m%d').astype(int)
# covert the date of the csv data to pandas datetime format

In [45]:
X = houseData.drop(['date','street', 'price'], axis=1)
y = houseData['price']
# ['bedrooms','bathrooms','sqft_living', 'sqft_lot','floors','waterfront','view','condition']

X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,statezip,country
0,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,36,62,0
1,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,35,58,0
2,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,18,26,0
3,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,3,7,0
4,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,31,31,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,35,62,0
4596,3,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,3,6,0
4597,3,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,32,37,0
4598,4,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,35,71,0
4599,3,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,9,26,0

### Data splitting

In [46]:
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.20,random_state=2)
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,statezip,country
2274,3,1.75,1730,8400,1.0,0,0,4,1400,330,1980,0,31,31,0
2735,3,1.00,990,10723,1.0,0,0,5,990,0,1960,0,32,37,0
4,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,31,31,0
133,2,2.50,2220,4000,2.0,0,0,3,2220,0,2000,0,35,53,0
1903,3,2.00,1710,7225,2.0,0,0,4,1710,0,1988,0,14,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,6,2.00,1900,8240,1.0,0,0,2,1200,700,1964,0,35,60,0
1099,2,1.00,1030,4841,1.0,0,0,3,920,110,1939,1969,35,47,0
2514,3,2.00,1510,6710,1.0,0,0,3,1070,440,1972,2002,19,22,0
3606,4,2.00,1350,942,3.0,0,0,3,1350,0,2008,0,16,17,0
2575,5,2.50,2640,7096,2.0,0,0,3,2640,0,2003,0,31,32,0

### Train the model

In [47]:
from sklearn.linear_model import LinearRegression

In [48]:
model=LinearRegression()
model.fit(X_train,Y_train);

In [49]:
y_pred=model.predict(X_test)

In [50]:
y_pred

array([ 314018.57986782,  235712.76088951,  691967.74287044,
        219136.75749931,  658787.63429048,  417721.06899078,
        595751.81734504,  600111.19351665,  594657.33890199,
        311927.96830559,  288243.82621749,  322186.0814049 ,
        367641.78951908,  730200.89458422,  341626.132778  ,
        729407.52009317,  558520.56336717,  762853.69711166,
        731495.43957272,  673587.41580064,  437289.44280273,
        538646.41248231,  412351.39611151,  538344.43281085,
        525965.87560223,  803964.62078725,  426944.42551996,
        655531.44051192,  368890.11641316,  863228.14902845,
        253147.17978103,  801497.31992319,  328973.36261596,
        291637.00365675,  280116.96259506,  442940.82829711,
        926242.20341262,  224258.40575271,  637081.38131293,
        822417.82654157,  560009.09180426,  542932.94191183,
        362078.20367388, 1001364.40999109,  810751.88524428,
        905508.23952932,  555114.26867211,  185022.75723956,
        910172.44143868,  447545.64996169,  414853.64750066,
        624666.8930858 , 1023672.47714783,  748506.03337158,
        337826.85451167,  650141.5608307 ,  282562.39305588,
        643729.62089827,  605383.04284809,  590744.37347441,
        307971.23231221, 1623152.87346728,  553202.11131543,
        929005.75905903,  340538.92040173,  578687.96882623,
        557808.8091253 ,  764408.3685437 ,  332540.68160197,
        535121.39113095,  674322.34468786,  785662.11346539,
        628652.3939307 ,  890734.49606893, 1213264.25136748,
        415155.70932943,  523436.85948658,  277546.12238717,
        574461.74749583,  579368.78345625,  553077.52096639,
        406409.30709808,  731123.90668315, 2625705.4461723 ,
        239686.92011943,  531719.33231027,  701323.21716044,
        282478.29259965,  357964.66536523,  330729.2228148 ,
        405847.14166037,  543071.69143464,  668924.17580805,
        639588.84575702,  490380.30191847,  161076.76908596,
        787408.26920874,  478110.0985718 ,  500701.33015531,
        375980.66543496,  484167.17332716, 1101876.42502577,
        403347.85498662,  609880.35567349, 1435170.05649544,
        975854.57145413,  384492.73136529,  423426.4150754 ,
        356459.73332895,  485588.83580642,  825298.01898103,
        499724.64791789,  668684.11800171,  580396.75941898,
        657306.09905495,  963547.26727383, 1005008.19150919,
        592825.3440925 ,  857135.93753016,  494300.82877694,
        612599.42615674,  846976.6755813 ,  478167.65613452,
        545868.19205047,  537198.22566225,  249714.94705374,
        585548.16271682,  444987.85788437,  464321.93878887,
        293652.28587703,  687621.03042327,  387005.87637485,
        525857.40894069,  556700.32321632,  503142.76380195,
       1045998.94039565,  291163.42385997,  489154.91887994,
        132296.2944277 ,  601263.50748309,  641585.23094555,
        545499.1303175 ,  470365.4954952 ,  430757.36170907,
        737618.01105725,  522023.79427168,  469537.23879978,
        673754.29824305,  264073.37074901,  639170.41912346,
       1189336.73640245,  888620.6830655 ,  958959.68591289,
        529078.51488844,  724796.33872925,  606480.49747315,
        676593.87672704,  269189.45786614,  910054.75656687,
        424834.0276534 ,  366531.12594682,  429486.085063  ,
        530672.467675  ,  245838.41980849, 1008800.85984598,
        295609.4128147 ,  239939.00569684,  721212.2717721 ,
        177815.52304443,  592692.33793326,  543919.02010434,
        188044.21081619,  956092.80161024,  449445.90194279,
        272472.08134085,  326378.81267958,  594411.09703251,
        147502.6147474 ,  253933.90105287,  303388.31642058,
        345434.11152834,  681242.78298431,  725261.15069696,
        404197.00004952,  326532.71721925,  236794.50995609,
        616189.11651788,  425813.81011209,  807471.54226482,
       1067877.57194231,  343164.93586849,  593751.06373975,
        234312.08224554,  750874.49703624,  731067.03594595,
        175009.99536363,  499298.41830338,  648100.43010638,
        860234.63956089,  170423.57472554,  350425.47282265,
        301502.65589073,  592052.37116377,  150298.27534408,
        534871.36639774,  351124.13747071,  598351.47813783,
        790696.21549794,  392640.15224061,  785979.73584731,
        431375.25577539,  674015.9713134 ,  260042.59510865,
        247947.26642858,  991763.01857466,  313143.20940458,
        715964.33622764,  589378.3033114 ,  572807.65381811,
        218624.33758434,  794650.69689567,  729932.41167015,
        575044.59723977,  485050.00370117,  387962.9449703 ,
        261494.95041856,  222724.3761417 ,  483138.02814053,
        292009.76227866,  795747.84211701,  358271.14537359,
        434201.91479454,  464007.81858542,  243287.91893236,
        408022.55317894,  813036.26209029,  393813.09458012,
        336406.94611698,  344022.74374674,  566059.28353433,
        397514.91738296,  616485.44527349,  340449.17037727,
        426242.15467848,  442915.27383176,  244905.94798502,
        503460.10238218,  542359.37110941,  540855.56331553,
        464393.54149525,  494695.94265228,  686103.66553012,
        939559.56179746,  353532.66746954,  136202.2003376 ,
        672718.42773773,  678754.1869673 ,  700851.65979587,
        597338.02058578,  242710.67198346,  414783.90571349,
        417108.36532085, 1340352.40917496,  355623.95623183,
        267804.09289861,  419213.99850229,  442514.09859728,
        713893.69883549,  477369.65986555,  311005.57883831,
        272594.98323435,  989626.13041776,  265115.81317198,
       1172750.22069051,  734273.8794821 ,  307397.9130234 ,
        210041.17349992,  516312.47272778,  337669.27430205,
        291659.35049762,  509623.28144748,  943694.7624997 ,
        780219.90923185,  677274.85336548,  769869.5014921 ,
        321528.53831043,  465289.74375259,  383789.58621923,
        423884.1903651 ,  635138.99590907,  799225.41671882,
        651610.62385542,  904981.30253839,  265584.45657849,
        610292.24224978,  444274.52520904,  591609.53606776,
        474045.90505905,  409438.23796856, 1053106.46853042,
        732834.66685961,  389302.60257487,  660025.18234379,
       1172967.00786466,  343302.24494376,  614537.20397257,
        584866.79417224,  986581.53587663,  526844.47947284,
        376747.30350322,  524642.7479651 ,  288201.17571837,
        371497.63672955,  370276.82254228,  536884.38443983,
        578190.30582954,  243248.5109689 ,  200398.93737623,
       1192590.32160154,  620504.72430665,  226718.68344374,
       1126571.17376628,  198336.95087399,  342026.44128953,
        314903.81855807,  678105.58508948,  225543.95815489,
        250084.28040026,  169157.43495533,  293779.41608514,
        485726.00829972,  464832.66024435,  617463.34711044,
        729766.17240055,  614327.58683641,  565867.54242849,
        341617.3301117 ,  297417.78902807,  213168.62086464,
        811641.93868481,  382487.95139126, 1640125.67856425,
        333870.38243805,  892135.47050291,  774884.21837271,
        460179.81115941,  320817.60409427,  557441.05977278,
        721003.56552818,  522809.83877521,  414492.45353251,
        379911.71984959,  783428.62780588, 1054554.80030862,
        234861.92797302,  642817.62856719,  549892.29090357,
        611965.61393739,  211907.86577658,  533630.67740715,
        214710.61400218,  621826.21871705,  484341.5410762 ,
        416695.02317748,  659580.66607864,  318740.0940887 ,
        486369.16513808,  330262.67965117,  306919.63195191,
       1173375.50768476,  355974.47546271,  733923.5558871 ,
        376392.38556971,  381988.02637204,  479191.28364541,
        379527.119777  ,  365411.48202121,  396991.65757624,
        361977.50471719,  301637.56221631,  323082.95326573,
        321866.9011582 ,  616187.54987304,  529790.58392526,
        465062.43814703,  382027.10079386, 3090348.60783082,
        494061.28723891,  466843.22220905,  495001.0759481 ,
        337382.72336266,  499050.43990062,  797891.64866555,
        944588.86566489,  693225.25462541,  267672.95523052,
        712996.49322628, 1012502.8919267 ,  646596.55583688,
        629722.50905326,  769553.06365613,  408720.27585199,
        989454.87798962,  476403.95403382,  660448.68906458,
        864067.09340894,  416053.22112055,  335335.17607851,
        292269.5017807 ,  477673.94243477,  516494.55488775,
        492300.61250649,  288583.59545929,  453034.01221419,
        303024.99582635,  265355.54083932,  458600.45613896,
       3721527.64796665,  615975.52682292,  647809.32273046,
        313975.48370857,  836911.36575946,  825944.8576819 ,
        306341.24851197,  477095.18448808,  422868.15374488,
        772719.45608487,  400806.93708679, 1864509.10438623,
        609305.422109  ,  701590.92181456,  221207.45479998,
        684557.46228575,  326004.25797405,  519471.69044887,
        566476.87540683,  776286.94410172,  250415.55504978,
        394009.72078144,  501289.29272599,  322328.32925955,
        266192.54810305,  725165.62778699,  403364.56960131,
        511341.56932245,  479224.65232349,  632022.71665032,
        565357.48384715,  363917.00400356,  435029.08241649,
        632635.83985719,  873302.78284492,  377175.30358412,
        438738.16936072,  230244.77330347,  715612.30708291,
        450665.25603   ,  136433.24238251,  662227.0765556 ,
        613781.14492173,  963935.57596538,  411607.88987286,
        322414.35969461,  854188.20572281,  572606.81045474,
        881155.14886167,  461581.73914385,  409946.25763363,
        246041.01910051,  430286.5991108 ,  973425.4956816 ,
        271624.76427679,  449627.80678459,  303531.77224605,
        238862.41584927,  632791.89693814,  771421.62907916,
        417550.48376798,  362622.23807395,  728578.13855932,
        344764.45827156,  174895.41616199,  719711.19509759,
        912259.13949378,  290867.78908815,  235038.85551406,
        484273.33043319,  721884.01950369,  333883.88312333,
        890985.60147433,  347259.56711576,  250218.33029465,
        638328.59260242,  951686.82757148, 1349592.49338521,
        411103.34889491, 1292833.05216225,  644976.98335874,
        605983.67237213, 1829231.46546944,  515745.98352187,
        555337.60663683,  224098.32933549, 1036733.16841355,
        631068.04783533,  622841.42826924,  450631.84692067,
        491628.4526269 ,  962595.57439877,  144878.19892413,
        584112.7225764 ,  366029.66780818,  214909.34893354,
        303043.74613035,  906096.0393738 ,  875009.04767779,
        596155.93674885,  562130.51989368,  241967.71836417,
        440213.3347711 ,  461703.7536356 ,  491992.24045179,
        507569.70199736,  517855.22103996,  690298.69829012,
        522580.30540533,  718478.76680135,  381175.43235049,
        325523.30149863,  765916.79875756, 1133461.96558389,
        555772.41519125,  629090.79903354,  282572.79857773,
        400649.71106148,  982454.34261283,  305825.05762351,
        223360.54752624,  982835.11243463,  296422.79600372,
        375664.89159143,  387881.46460598,  579160.68881829,
        919014.38953731,  739234.88676459,  480789.38394051,
        579837.06144482,  540676.25444416,  435755.71193471,
        614972.95184087,  463620.15940136,  806238.71899998,
        634262.67690442, 1250431.5753449 ,  590590.27537716,
        276901.48394244,  699077.36797113,  890692.42122375,
        378031.76886369,  450198.54473297, 1186975.22475575,
        460606.71723003,  461738.89713807,  135502.09778685,
        545147.36333569,  606057.04232511,  413434.38949968,
        510205.50923627,  512136.06537596,  323510.74360041,
        807420.76174333,  808395.92250293,  312003.64222845,
        698867.40337783,  244069.81928423,  211503.60499244,
        392359.64228645,  652118.12133555,  357389.10161163,
        895508.30444592,  638774.87357496,  255125.52969841,
        597929.02119017,  625794.59729993,  329385.52734452,
        933708.16894027,  290501.5905074 ,  435487.89877525,
        887142.95817565,  755327.85095474,  673721.88650853,
       1391336.47138346,  488824.31592065,  451079.2768099 ,
        498769.65607774,  900217.83064513, 1269711.24515475,
        401023.63057808,  263634.68185726,  491569.87008087,
        272530.14286271,  408795.95309284,  326554.7076099 ,
        539069.50909122,  467583.15392354,  513670.25183782,
        419102.92011989,  504931.24644686,  580341.26356954,
        422237.51977561,  543193.03273679,  553079.93232117,
        543656.61603486,  388989.16742711,  488552.98817698,
        757208.41813558,  750132.78554089,  597675.61633052,
        663426.69610961,  229723.24425815,  566604.36846559,
        248047.75947786,  714245.38792639,  321114.5148914 ,
        213437.141622  ,  399961.68088772,  591349.94596319,
        461560.76040334,  576568.52881222,  437423.16899111,
        699595.76630049,  587510.19379453,  669645.75209696,
        433783.44410814,  625363.06835642,  734378.56079758,
        976299.00787577,  942954.82033337,  565340.23959268,
       1082411.7966682 ,  537847.5724602 ,  318291.32677114,
        675986.64066707,  681086.77766392,  286467.61630409,
        430326.73860629,  467752.80201441,  535513.31005864,
        312294.35671949,  576621.19067394,  447094.09996133,
        348360.50654039, 2239365.82094755,  260081.06150548,
        710229.7447141 ,  366241.54472096,  667655.67389694,
        289615.18183385,  218272.34670475,  835205.90969709,
        518236.27399676, 1009550.52900617, 1302612.19404582,
        307993.59534915,  387614.0753206 ,  374306.42607535,
        310318.44949193,  411382.03616818, 1155552.48091969,
        315822.3446991 ,  534713.17297921,  506540.06299498,
        448029.79896586,  483988.54276103,  443075.48535001,
        255161.32142354, 1621519.67658481,  487043.59448279,
        306676.22323473,  369105.14977939, 1330413.95513304,
        700795.73490173,  447921.23836495,  189545.32982437,
        471657.60530303,  459164.44533288,  512808.20871155,
       1053790.34961352,  984680.11971267, 1922576.45216941,
        338436.8725903 ,  750987.74700682,  825367.88250309,
       1013404.7046826 ,  872284.27601655,  170970.27702437,
        398084.12527021,  571871.79747536,  922112.70375791,
        368408.98233851,  325481.18763009,  281561.59643774,
        216663.53591985,  428529.46819975,  256509.26711963,
        528693.66022749,  547659.72126611,  831862.6427459 ,
        359396.94796487,  439761.51437244,  803957.46193828,
        384438.62600957,  284279.51863347,  733827.7759103 ,
        247811.00658365,  781272.55669213,  954361.89545829,
        492942.81168174,  206745.67278694,  495706.65259995,
        382131.92451778,  246563.83298678,  355956.41929199,
       1079884.31695679,  287190.88374582,  275483.88569093,
        437151.09097015,  425908.5875647 ,  382046.35495391,
        788179.65920604,  372145.24220596, 1448051.07307695,
        642738.20803319,  496091.96380179,  576954.40676614,
        379979.39441453,  371679.7230241 ,  357959.92663835,
        260938.38482571,  940987.27253878,  565101.05903952,
        652099.39132734,  665600.91830293,  678589.80525743,
        850743.09726606, 1452392.01372291,  851288.03256613,
        275130.9812348 ,  254168.67826926,  699662.82653923,
        632447.74024107,  407593.19709153,  247856.30915331,
        408341.63353988,  453198.20580703,  588065.19530572,
        539089.85295173,  988414.22035752,  185504.58350457,
        694554.30843783,  599737.75607764,  868038.3255914 ,
        357698.87090826,  248390.20041997,  438653.74247288,
        217032.82247067,  252556.6840809 ,  716409.34695109,
        938286.96598272,  282676.8635803 ,  499969.00207852,
        356192.14329311,  444564.50457801,  637061.22641728,
       1070724.67363901,  536428.30248344,  365110.989752  ,
        357357.0011075 ,  503523.65163352, 1183346.61169378,
        663861.57389885,  346299.62791029,  358679.61015434,
        984133.80000237,  456338.94910044, 1046242.327876  ,
        601512.63313566,  956480.42690474,  385956.60372286,
        411658.48577313,  514753.03539743,  698222.34299165,
        706285.65308711,  467515.25278512,  365941.4289367 ,
        311308.68515828,  397012.02999578, 1124623.6065363 ,
        657747.87041924,  606475.5528356 ,  556189.82454071,
        356826.89166038,  638788.75396302,  237585.89337696,
        435712.080319  , 1192150.75702715, 1126026.9847976 ,
        256247.14695758,  371065.17350903,  303711.48912974,
        262995.01892261,  631736.23567037,  288956.79713555,
        326908.98936806,  306080.94950638,  457273.56679299,
        444124.45183457,  544602.67707484,  277980.90546748,
       1242288.20277047,  358501.00821456,  373487.94119704,
        346842.0318383 ,  754752.89234762,  418706.59750444,
        442956.06514282,  546965.82311995,  296409.38602231,
        818840.26020294,  288916.49970642,  563095.29202459,
        303350.3724394 ,  301111.45417529,  876043.82164636,
        536276.30854685,  706270.90718618,  526726.03268588,
        597322.40745669,  912039.48516175,  529618.37324947,
        308967.85335121,  797773.18565661,  754916.80291759,
        564092.08053138,  535827.88625223,  945488.91781371,
        460615.48688932,  158466.5081795 ,  185365.82257925,
        250953.49831649,  323137.50189701,  749501.44333979,
        124563.83233046,  264426.18895191,  644693.09173333,
        322876.5296079 ,  485644.39515872,  419569.4383385 ,
        346342.09033631,  767059.38093112, 1130167.51175008,
        705407.76260009,  517634.94413304,  279962.63956234,
        578804.68003674,  837033.53945459, 1345759.53859743,
       1218523.74636629,  391010.16065487,  299190.80679147,
        915972.49983462, 1508075.21711764,  610677.16661236,
        587903.61079693,  566542.84038854,  472199.9526707 ,
        237692.29438128,  560921.39208105,  440606.46355097,
        967951.29170373,  548654.00571382,  704549.10063586,
        464909.71430916,  314133.00271957,  751256.4260659 ,
       1341403.68677184,  431116.40683009,  555557.23284757,
        731723.76437623,  383054.38841901,  481289.62121556,
        915773.71983142,  574384.48164131,  598239.81972007,
       1504336.36956022,  760737.2870635 ,  284614.15281867,
       1502262.56963592,  481002.18647693,  137597.85262417,
        324348.78504172,  379477.44244041,  469995.24111064,
        467782.69281392,  363265.59232104,  353857.35052498,
        467403.40196277,  504521.9451619 ,  556781.1843833 ,
        471136.35648603,  358356.78862645,  459010.79155938,
        254426.71377717,  133222.6880614 , 1257767.82931634,
        753746.14271663,  440512.16777134,  356181.64980541,
        553084.08077111,  633165.12149821])

In [51]:
Y_test

4111     232000.0
1996     299950.0
2307    1085000.0
3607     229800.0
1519     499950.0
          ...
2516     883000.0
993      260000.0
3713     219950.0
4541     216000.0
3016    1100000.0
Name: price, Length: 920, dtype: float64

In [52]:
from sklearn.metrics import r2_score

In [53]:
# model performance  
r2 = r2_score(Y_test, y_pred)

print("R-squared:", r2)

R-squared: 0.05744478408401632

In [54]:
from sklearn.linear_model import Ridge

In [55]:
model2=Ridge(alpha=1.0)
model2.fit(X_train,Y_train);

In [56]:
y_pred2=model2.predict(X_test)

In [57]:
# Evaluate model performance  
r2 = r2_score(Y_test, y_pred2)

print("R-squared:", r2)

R-squared: 0.057404770957708684

### Train with SVM

In [58]:
from sklearn.svm import SVR

In [59]:
model3=SVR()
model3.fit(X_train,Y_train);

In [60]:
y_pred3=model3.predict(X_test)

In [61]:
# Evaluate model performance 
r2 = r2_score(Y_test, y_pred3)

print("R-squared:", r2)

R-squared: -0.012160097730881336